main{
  min-height: 80vh;
}

h1{
font-size: 1.8rem;
padding:1rem 0;
}

h2{
font-size: 1.4rem;
padding:0.5rem 0;
}

h3{
  padding:1rem 0;
}

.rating span{
margin:0.1rem;
}

/* carousel */
.carousel-item-next,
.carousel-item-prev,
.carousel-item.active {
display: flex;
}
.carousel-caption {
position: absolute;
top: 0;
}

.carousel-caption h4 {
color: #000000;
}

.carousel img {
display:block;
height: 400px;
width: 600px;
padding: 30px;
margin: 40px; 
/* border-radius: 50%; */
margin-left: auto;
margin-right: auto;
}
/* .carousel a {
margin: 0 auto;
} */
/* @media (max-width: 900px) {
.carousel-caption h2 {
  font-size: 2.5vw;
}
} */

.admin{
  height: 100px;
  width: 70px;
}


/* .image-file{
  width: 150px;
  border: 1px solid rgb(127, 109, 109);
} */

#icon-up{
  height: 10px;
  width: 15px;
  /* padding-right: 10px; */
  
}

#icon-down{
  /* height: 10px; */
  width: 15px;
}


.btn-circle{
  border-radius: 15px;
  /* padding: 6px 0px; */
  margin-right: 10px;
  /* margin-bottom: 100px; */
}

/* .btn-circle:hover{
  background-color: rgb(186, 52, 52);
} */


/* .product-image-upload input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
} */

/* .product-image-upload .form-control-label {
  padding: 0.2rem 0.5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #f9f9f9;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.product-image-upload .form-control-label:hover {
  background-color: #fdfdfd;
  border-color: #dee2e6;
} */